html, body {
    font-size: 100%;
    font-family: Arial;
    background: #434242;
    color: #fff;
    font-family: Quicksand;
}
main h1 {
    font-size: 4em;
    /*font-weight: 100;*/
}
main p {
    line-height: 1.4em;
    font-size: 1.4em;
}
main .video {
    text-align: center;
}
.wrapper {
    max-width: 800px;
    margin: auto;
    position: relative;
}
main.video {
    background: #99B1C3;
}
.clear {
    clear: both;
}
header {
    height: 340px;
}
header .background,
header.content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 340px;
}
header .background {
    background: url(https://straatgendarm.files.wordpress.com/2013/05/gallerij-pagina-agentschap-voor-natuur-en-bos-google-chrome_2013-04-25_11-28-19.png) center center no-repeat;
    background-size: cover;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
header .content {
    text-align: center;
}
img {
    max-width: 600px;
}
main {
    background: #fff;
    color: #333;
    padding-bottom: 2em;
}
main section {
    padding-top: 2em;
}
main section img {
    float: right;
    width: 200px;
}
footer {
    font-size: 1.4em;
}
footer h1 {
    font-size: 1.4em;
    margin-top: 1em;
}
footer a {
    color: #fff;
    text-decoration: none;
    line-height: 2em;
}
.mobile_buttons {
    display: none;
}

@media (max-width: 600px) {
    img {
        max-width: 80%;
    }
    main.video {
        display: none;
    }
    .wrapper {
        max-width: 90%;
    }
    main h1 {
        font-size: 2em;
    }
    .mobile_buttons {
        display: block;
    }
    a.button {
        background: #fff;
        border-radius: 4px;
        display: inline-block;
        height: 100px;
        width: 100px;
    }
    a.button img {
        width: 100px;
    }
}