/*
Rood:  FF003D
Oranje:  FF5603
Geel:  FFE300
Lichtgroen: 9CDB4C
Groen:  23D749
Lichtblauw: 00DFFF
Blauw:  455AA9
Paars:  834E98
*/
html, body {
    font-size: 100%;
    font-family: Arial;
    background: #000; /* for the footer */
}
h1, h2 {
    font-family: "Oswald";
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.2em;
}
header {
    background: #fff url() center center no-repeat;
    background-size: cover;
    text-align: center;
}
main {
    background: #fff;
    padding: 1em;
}
main h2 {
    color: #B71C32;
    line-height: 1.2em;
    margin: 0.2em 0;
}
main h3 {
    color: #555;
    line-height: 1.4em;
    margin: 0.4em 0;
    font-weight: 700;
}
main.payoff {
    /*background: #B7421C;*/
    text-align: center;
    padding-bottom: 2em;
}
main.payoff h1 {
    line-height: 1.4em;
    color: #B71C32;
}
main.payoff h2 {
    line-height: 1.2em;
    margin-top: 0.4em;
    font-weight: 100;
    color: #B71C32;
}
main.video {
    display: none;
    background: #000;
}
main.video .video {
    height: 320px;
}
main.diensten {
    padding-top: 0;
    /*padding-top: 40px;*/
}
main.diensten ul {
    /*margin-top: 2em;*/
    width: 396px;
    max-width: 100%;
    display: inline-block;
    text-align: center;
}
main.diensten li {
    padding-left: 40px;
    font-size: 1.6em;
    line-height: 1.4em;
    /*color: #737373;*/
}
main.voorbeelden section {
    padding: 1em 0;
}
main.voorbeelden .youtube-video {
    float: right;
    margin-left: 20px;
}
main.voorbeelden p {
    font-size: 1.2em;
    line-height: 1.2em;
    padding-bottom: 1em;
}
main.voorbeelden a {
    /*color: #603D6F;*/
    color: #B71C32;
}
main.cta {
    /*background: #259B3A;*/
    text-align: center;
}
main.cta h2 {
    /*color: #fff;*/
    line-height: 1.4em;
}
main.cta button {
    margin-top: 0.4em;
    font-size: 2em;
    border: 0;
    color: #fff;
    background: #B71C32;
    padding: 0.4em 1em;
    border-radius: 0.4em;
    cursor: pointer;
}
main.formulier {
    padding-top: 2em;
}
main.formulier form {
    margin-top: 2em;
    font-size: 1.2em;
}
main.formulier form label {
    display: inline-block;
    width: 200px;
    line-height: 2.4em;
}
main.formulier form input {
    padding: 0.2em;
    border: 1px solid silver;
    font-size: 1.2em;
}
footer {
    color: #fff;
    line-height: 1.8em;
    padding-bottom: 2em;
}
footer .col {
    display: inline-block;
    vertical-align: top;
    margin-top: 2em;
    width: 200px;
}
footer h1 {
    font-size: 1.4em;
}
footer a {
    color: #fff;
    text-decoration: none;
}
.wrapper {
    max-width: 800px;
    margin: auto;
    position: relative;
}



@media (max-width: 600px) {
    img {
        max-width: 80%;
    }
    .wrapper {
        min-width: 320px;
        max-width: 90%;
        position: relative;
    }
    main.payoff h1 {
        font-size: 2em;
    }
    main h2 {
        font-size: 1.4em;
    }
    main.voorbeelden .youtube-video iframe {
        max-width: 100%;
    }
    main.voorbeelden .youtube-video {
        max-width: 100%;
        float: none;
        margin: auto;
    }
}